@import "mixins";
@import "colors";
@import "grid";

:root{
    body{
        margin: 0;
        @mixin pageBackground;
    }
    a{
        text-decoration: none;
        color: inherit;
        &:hover, &:focus{
            color: $ceriseRed !important;
        }
    }
    ul{
        margin: 0px;
        li{
            display: inline-block;
        }
    }
}

:local {
    .headerContent {
        position: fixed;
        z-index: 10;
        top: 0;
        width: 100%;
        background-color: $black;
        font-size: 24px;
        line-height:90px;
        &, a{
            color: $white;
        }
        ul {
            text-align: right;
            li{
                margin-left: 30px;
            }
        }
    }
    .footer{
        line-height: 150px;
        margin-top: 20px;
        background-color: $black;
        color: $white;
        font-size: 16px;
        text-align: center;
    }
    .separateLine{
        @mixin contentPostion;
        position: relative;
        height: 0px;
        border-top: 3px solid $black;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
        h3{
            @mixin pageBackground;
            display: inline-block;
            position: relative;
            padding: 0 17px;
            top: -30px;
            font-size: 18px;
            color: $fieryOrange;
            text-transform: uppercase;
        }
    }
    .fs22{
        font-size: 22px;
    }
    .textRight{
        text-align: right;
    }
    .hasError{
        margin: 0;
        padding: 0;
        font-size: 14px;
        color: red;
        font-style: italic;
    }
}

@media (max-width:730px) {
    .homeContent {
        .barsWraper {
            flex-direction: column;
            .leftBar {
                width: 100%;
            }
            .rightBar {
                width: 100%;
            }
        }
        .mayLikeItems{
            .wrapper{
                .item{
                    width: 45%;
                    border-bottom: 2px solid $gallery;
                    padding-bottom: 20px;
                }

            }
        }
    }

}