$white: #fff;
$black: #000;
$red: #DF0100;
$cornflowerBlue: #6195ED;
$azureRadiance: #00A2FF;
$fieryOrange: #BF5412;
$gold: #FFD700;
$gallery: #EBEBEB;
$pizazz: #FF9200;
$ceriseRed: #DB296E;
$fruitSalad: #4CAE4C;
$fern: #5CB85C;